<head>
    <meta charset="UTF-8">
    <title>Winter Restaurant 2023</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <h2 class="f2">Winter Restaurant 2023</h2>
    <nav>
        <a href="/">Главная</a>
        <a href="waiter">Офицанты</a>
        <a href="kitchen">Кухня</a>
        <a href="orders">Заказы</a>
        <a href="exportdata">Смета</a>
        <div class="animation start-home"></div>
      </nav>
    </header>
</body>